In [ ]:
-- Home Results Table
CREATE TABLE home_results AS
SELECT 
    home_team AS team,
    COUNT(*) AS pld,
    SUM(CASE WHEN home_score > away_score THEN 1 ELSE 0 END) AS won,
    SUM(CASE WHEN home_score = away_score THEN 1 ELSE 0 END) AS drawn,
    SUM(CASE WHEN home_score < away_score THEN 1 ELSE 0 END) AS lost,
    SUM(home_score) AS GF,
    SUM(away_score) AS GA,
    SUM(home_score) - SUM(away_score) AS GD,
    SUM(
        CASE 
            WHEN home_score > away_score THEN 3
            WHEN home_score = away_score THEN 1
            ELSE 0
        END
    ) AS points
FROM match_results
GROUP BY home_team;

In [ ]:
CREATE VIEW away_results_view AS
SELECT 
    away_team AS team,
    COUNT(*) AS pld,
    SUM(CASE WHEN away_score > home_score THEN 1 ELSE 0 END) AS won,
    SUM(CASE WHEN away_score = home_score THEN 1 ELSE 0 END) AS drawn,
    SUM(CASE WHEN away_score < home_score THEN 1 ELSE 0 END) AS lost,
    SUM(away_score) AS GF,
    SUM(home_score) AS GA,
    SUM(away_score) - SUM(home_score) AS GD,
    SUM(
        CASE 
            WHEN away_score > home_score THEN 3
            WHEN away_score = home_score THEN 1
            ELSE 0
        END
    ) AS points
FROM match_results
GROUP BY away_team;

In [ ]:
CREATE VIEW league_table AS
SELECT 
    team,
    SUM(pld) AS pld,
    SUM(won) AS won,
    SUM(drawn) AS drawn,
    SUM(lost) AS lost,
    SUM(GF) AS GF,
    SUM(GA) AS GA,
    SUM(GF) - SUM(GA) AS GD,
    SUM(points) AS points
FROM (
    -- Select home results for each team from the home view
    SELECT 
        home.team AS team,
        home.pld,
        home.won,
        home.drawn,
        home.lost,
        home.GF,
        home.GA,
        home.points
    FROM home_results_view home
    UNION ALL
    -- Select away results for each team from the away view
    SELECT 
        away.team AS team,
        away.pld,
        away.won,
        away.drawn,
        away.lost,
        away.GF,
        away.GA,
        away.points
    FROM away_results_view away
) AS combined
GROUP BY team;