# Liverpool FC

- database

## team

In [ ]:
CREATE TABLE team (
    team_id INT PRIMARY KEY AUTO_INCREMENT,
    team_name VARCHAR(255) NOT NULL,
    team_emblem VARCHAR(255),
    founded_year INT,
    stadium VARCHAR(255),
    manager VARCHAR(255),
    league VARCHAR(255)
);

## players

In [ ]:
CREATE TABLE Player (
    player_id INT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    position VARCHAR(50),
    start_date DATE,
    end_date DATE,
    nationality VARCHAR(100),
    dob DATE,
    team_id INT DEFAULT 1,
    FOREIGN KEY (team_id) REFERENCES team(team_id)
);

In [ ]:
<?php
require 'classes/db.php'; // Ensure your Database class is included

// Sample data
$data = [
    "Ron Yeats, Defender, 1961-1971",
    "Samed Yesil, Forward, 2012",
    "Tommy Younger, Goalkeeper, 1956-1959"
];

// Create a new database connection
$db = new Database("4");

// Prepare the SQL statement
$stmt = $db->prepare("INSERT INTO player (name, position, start_date, end_date, nationality, dob, team_id) VALUES (?, ?, ?, ?, ?, ?, ?)");

// Loop through the data and insert each record
foreach ($data as $line) {
    // Split the line into name, position, and date data
    list($name, $position, $dateData) = explode(", ", $line);
    
    // Handle start and end dates
    if (strpos($dateData, '-') !== false) {
        list($startDate, $endDate) = explode("-", $dateData);
        $startDate = trim($startDate);
        $endDate = trim($endDate);
    } else {
        $startDate = trim($dateData);
        $endDate = null; // No end date provided
    }

    // Set default values for nationality, dob, and team_id
    $nationality = null; // Set to NULL or a default value if you have one
    $dob = null; // Set to NULL or a specific date if you have one
    $team_id = 1; // Default team ID, change if necessary

    // Execute the prepared statement
    $stmt->execute([$name, $position, $startDate, $endDate, $nationality, $dob, $team_id]);
}

// Close the statement and connection if necessary
$stmt = null;
$db = null;

echo "Records inserted successfully.";
?>

## trophy

In [ ]:
CREATE TABLE trophy (
    trophy_id INT AUTO_INCREMENT PRIMARY KEY,
    trophy_img VARCHAR(100),
    competition_name VARCHAR(100) NOT NULL,
    competition_type VARCHAR(50) NOT NULL
);

INSERT INTO trophy (competition_name, competition_type) VALUES
('League Title', 'Domestic'),
('League Cup', 'Domestic'),
('FA Cup', 'Domestic'),
('Community Shield', 'Domestic'),
('European Cup', 'International'),
('UEFA Cup', 'International'),
('UEFA Super Cup', 'International'),
('World Cup', 'International');

In [ ]:
- recommended

In [ ]:
(2025, 'Arne Slot', '/football/trophies/league.png', 1);

In [ ]:
$base_path = $_SERVER['DOCUMENT_ROOT'] . "/richardfrancis/";
$image_path = $base_path . $row['trophy_img']; 
echo "<img src='$image_path' />";

In [ ]:
CREATE TABLE lfc_managers (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    nationality VARCHAR(50),
    start_date DATE,
    end_date VARCHAR(20),
    matches_played INT,
    wins INT,
    draws INT,
    losses INT,
    goals_for INT,
    goals_against INT,
    win_percentage DECIMAL(5,2),
    league_titles INT,
    league_cups INT,
    fa_cups INT,
    league_cups_won INT,
    community_shields INT,
    european_cups INT,
    uefa_cups INT,
    uefa_super_cups INT,
    world_cups INT,
    total_honours INT
);

In [ ]:
ALTER TABLE lfc_managers
ADD COLUMN team_id INT DEFAULT 1,
ADD FOREIGN KEY (team_id) REFERENCES team(team_id);

In [ ]:
CREATE TABLE honours (
    trophy_id INT,
    year_won YEAR,
    manager_id INT,
    team_id INT DEFAULT 1,  -- Added team_id to link honours to a team
    PRIMARY KEY (trophy_id, year_won, manager_id, team_id),
    FOREIGN KEY (manager_id) REFERENCES lfc_managers(id),
    FOREIGN KEY (trophy_id) REFERENCES trophy(trophy_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id) -- Links to the team
);

select year_won, name from honours, lfc_managers where year_won="2025" and honours.manager_id=lfc_managers.id;

## League Titles

In [ ]:
INSERT INTO honours (trophy_id, year_won, manager_id, team_id) VALUES
(1, '1976', 1, 1),
(1, '1977', 1, 1),
(1, '1979', 1, 1),
(1, '1980', 1, 1),
(1, '1982', 1, 1),
(1, '1983', 1, 1),
(1, '1901', 6, 1),
(1, '1906', 6, 1),
(1, '1922', 8, 1),
(1, '1923', 9, 1),
(1, '1947', 11, 1),
(1, '1964', 14, 1),
(1, '1966', 14, 1),
(1, '1973', 14, 1),
(1, '1984', 2, 1),
(1, '1986', 15, 1),
(1, '1988', 15, 1),
(1, '1990', 15, 1),
(1, '2020', 3, 1),
(1, '2025', 4, 1);

## League Cup

In [ ]:
INSERT INTO honours (trophy_id, year_won, manager_id, team_id) VALUES
(2, '2024', 4, 1),
(2, '2022', 4, 1),
(2, '2012', 23, 1),
(2, '2003', 20, 1),
(2, '2001', 20, 1),
(2, '1995', 18, 1),
(2, '1984', 15, 1),
(2, '1983', 15, 1),
(2, '1982', 1, 1),
(2, '1981', 1, 1);

## FA Cup

In [ ]:
INSERT INTO honours (trophy_id, year_won, manager_id, team_id) VALUES
(3, '2022', 3, 1),
(3, '2006', 21, 1),
(3, '2001', 20, 1),
(3, '1992', 17, 1),
(3, '1989', 15, 1),
(3, '1986', 15, 1),
(3, '1974', 14, 1),
(3, '1965', 14, 1);

## Community Shield

In [ ]:
INSERT INTO honours (trophy_id, year_won, manager_id, team_id) VALUES
(4, '2023', 3, 1),
(4, '2007', 21, 1),
(4, '2002', 20, 1),
(4, '1991', 15, 1),
(4, '1990', 15, 1),
(4, '1989', 15, 1),
(4, '1987', 15, 1),
(4, '1983', 1, 1),
(4, '1981', 1, 1),
(4, '1980', 1, 1),
(4, '1978', 1, 1),
(4, '1977', 1, 1),
(4, '1975', 1, 1),
(4, '1967', 14, 1),
(4, '1966', 14, 1),
(4, '1965', 14, 1);

## European Cup

In [ ]:
INSERT INTO honours (trophy_id, year_won, manager_id, team_id) VALUES
(5, '2019', 3, 1),
(5, '2005', 21, 1),
(5, '1984', 2, 1),
(5, '1981', 1, 1),
(5, '1978', 1, 1),
(5, '1977', 1, 1);

## UEFA Cup

In [ ]:
INSERT INTO honours (trophy_id, year_won, manager_id, team_id) VALUES
(6, '2001', 20, 1),
(6, '1976', 1, 1),
(6, '1973', 14, 1);

## UEFA Super Cup

In [ ]:
INSERT INTO honours (trophy_id, year_won, manager_id, team_id) VALUES
(7, '2020', 3, 1),
(7, '2006', 21, 1),
(7, '2001', 20, 1),
(7, '1978', 1, 1);

## Club World Cup

In [ ]:
INSERT INTO honours (trophy_id, year_won, manager_id, team_id) VALUES
(8, '2020', 3, 1);

- trophy_date_view

In [ ]:
CREATE VIEW trophy_date_view AS
SELECT 
    m.name AS manager_name,
    m.start_date,
    m.end_date,
    th.year_won,
    t.competition_name
FROM lfc_managers m
JOIN honours th ON m.id = th.manager_id
JOIN trophy t ON th.trophy_id = t.trophy_id
WHERE th.year_won BETWEEN STR_TO_DATE(m.start_date, '%Y-%m-%d') AND STR_TO_DATE(m.end_date, '%Y-%m-%d');

In [ ]:
select * from trophy_date_view where competition_name="league title";

select * from trophy_date_view where year_won="1967";

In [ ]:
select * from trophy_date_view where manager_name="Kenny Dalglish";

In [ ]:
MariaDB [lfc]> SELECT
    ->     competition_name,
    ->     GROUP_CONCAT(year_won ORDER BY year_won ASC SEPARATOR ', ') AS years_won
    -> FROM trophy_date_view
    -> WHERE manager_name = 'Bob Paisley'
    -> GROUP BY competition_name
    -> ORDER BY competition_name;
+------------------+------------------------------------+
| competition_name | years_won                          |
+------------------+------------------------------------+
| Community Shield | 1975, 1977, 1978, 1980, 1981, 1983 |
| European Cup     | 1977, 1978, 1981                   |
| League Cup       | 1981, 1982                         |
| League Title     | 1976, 1977, 1979, 1980, 1982, 1983 |
| UEFA Cup         | 1976                               |
| UEFA Super Cup   | 1978                               |
+------------------+------------------------------------+
6 rows in set (0.001 sec)

MariaDB [lfc]>

In [ ]:
CREATE VIEW trophy_competition_view AS
SELECT 
    t.competition_name,
    COUNT(*) AS total_wins,
    GROUP_CONCAT(DISTINCT m.name ORDER BY m.name SEPARATOR ', ') AS managers,
    GROUP_CONCAT(DISTINCT th.year_won ORDER BY th.year_won SEPARATOR ', ') AS win_years
FROM trophy t
JOIN honours th ON t.trophy_id = th.trophy_id
JOIN lfc_managers m ON th.manager_id = m.id
GROUP BY t.competition_name;

In [ ]:
CREATE VIEW manager_trophies_view AS
SELECT 
    m.id AS manager_id,
    m.name AS manager_name,
    COUNT(*) AS total_trophies,
    MIN(th.year_won) AS first_win,
    MAX(th.year_won) AS last_win
FROM lfc_managers m
JOIN honours th ON m.id = th.manager_id
GROUP BY m.id, m.name;

In [ ]:
SELECT * FROM manager_trophies_view ORDER BY total_trophies DESC;

In [ ]:
CREATE VIEW trophy_competition_view AS
SELECT 
    t.competition_name,
    COUNT(*) AS total_wins,
    GROUP_CONCAT(DISTINCT m.name ORDER BY m.name SEPARATOR ', ') AS managers,
    GROUP_CONCAT(DISTINCT th.year_won ORDER BY th.year_won SEPARATOR ', ') AS win_years
FROM trophy t
JOIN honours th ON t.trophy_id = th.trophy_id
JOIN lfc_managers m ON th.manager_id = m.id
GROUP BY t.competition_name;

In [ ]:
SELECT * FROM trophy_competition_view ORDER BY total_wins DESC;

include orientation and manager win dates

In [ ]:
CREATE OR REPLACE VIEW trophy_competition_view AS
SELECT 
    t.trophy_id,
    t.trophy_img,
    t.competition_name,
    COUNT(*) AS total_wins,
    GROUP_CONCAT(CONCAT(m.name, ' (', th.year_won, ')')
                 ORDER BY th.year_won SEPARATOR ', ') AS win_details
FROM trophy t
JOIN honours th ON t.trophy_id = th.trophy_id
JOIN lfc_managers m ON th.manager_id = m.id
WHERE th.team_id = 1  -- assuming team_id 1 corresponds to Liverpool FC
GROUP BY t.trophy_id, t.trophy_img, t.competition_name;

In [ ]:
CREATE VIEW manager_season_view AS
SELECT 
    m.id AS manager_id,
    m.name AS manager_name,
    DATE_FORMAT(m.start_date, '%Y') AS start_year,
    DATE_FORMAT(m.end_date, '%Y') AS end_year,
    GROUP_CONCAT(DISTINCT th.year_won ORDER BY th.year_won SEPARATOR ', ') AS winning_years
FROM lfc_managers m
LEFT JOIN honours th ON m.id = th.manager_id 
    AND th.year_won BETWEEN STR_TO_DATE(m.start_date, '%Y-%m-%d')
                      AND IFNULL(STR_TO_DATE(m.end_date, '%Y-%m-%d'), '2099-12-31')
GROUP BY m.id, m.name, m.start_date, m.end_date;

In [ ]:
SELECT * FROM manager_season_view
WHERE manager_name = 'Arne Slot';

- trophy_manager_view

In [ ]:
CREATE VIEW trophy_manager_view AS
SELECT 
    t.competition_name GROUP_CONCAT(h.year_won ORDER BY h.year_won ASC SEPARATOR ', ') AS Years_Won,
    h.manager_id
FROM honours h
JOIN trophy t ON h.trophy_id = t.trophy_id
GROUP BY h.manager_id, t.competition_name
ORDER BY t.competition_name;

In [ ]:
select * from trophy_manager_view where competition="league title";

In [ ]:
select * from trophy_manager_view where year_won="1967";

In [ ]:
select * from trophy_manager_view where manager_id=15;

In [ ]:
SELECT 
    tmv.year_won, 
    tmv.competition_name, 
    lm.name AS manager_name
FROM trophy_manager_view tmv
JOIN lfc_managers lm ON tmv.manager_id = lm.id
WHERE tmv.manager_id = 1;

In [5]:
import time

def progress_bar(total=50, delay=0.5):
    for i in range(1, total + 1):
        bar = "x" * i + "." * (total - i)  # Fills with 'x' and remaining with '.'
        print(f"<code>{bar}</code>", end="\r")
        time.sleep(delay)
    print("\nrichardfrancis.info")

progress_bar()

<code>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</code>
richardfrancis.info

In [ ]:
select honours.year_won, lfc_managers.name, competition_name from honours, lfc_managers, trophy
where honours.manager_id=lfc_managers.id and trophy.trophy_id=honours.trophy_id
order by year_won desc;

In [ ]:
SELECT lfc_managers.name, trophy.competition_name, sum(trophy_id), 
FROM lfc_managers, trophy, honours
WHERE honours.manager_id=lfc_managers.id and trophy.trophy_id=honours.trophy_id

https://dbdiagram.io/d/6831af5db9f7446da3f6f2aa

In [ ]:
mysqldump -h localhost -u root -P 3306 -p --no-data lfc > D:\mysql_lfc_schema.sql

# Dalglish honours

In [ ]:
sselect * from trophy_date_view where manager_name="Kenny Dalglish";

In [ ]:
MariaDB [lfc]> select * from trophy_date_view where manager_name="Kenny Dalglish";
+----------------+------------+------------+----------+------------------+
| manager_name   | start_date | end_date   | year_won | competition_name |
+----------------+------------+------------+----------+------------------+
| Kenny Dalglish | 1985-05-30 | 1991-02-21 |     1986 | League Title     |
| Kenny Dalglish | 1985-05-30 | 1991-02-21 |     1988 | League Title     |
| Kenny Dalglish | 1985-05-30 | 1991-02-21 |     1990 | League Title     |
| Kenny Dalglish | 2011-01-08 | 2012-05-16 |     2012 | League Cup       |
| Kenny Dalglish | 1985-05-30 | 1991-02-21 |     1986 | FA Cup           |
| Kenny Dalglish | 1985-05-30 | 1991-02-21 |     1989 | FA Cup           |
| Kenny Dalglish | 1985-05-30 | 1991-02-21 |     1987 | Community Shield |
| Kenny Dalglish | 1985-05-30 | 1991-02-21 |     1989 | Community Shield |
| Kenny Dalglish | 1985-05-30 | 1991-02-21 |     1990 | Community Shield |
| Kenny Dalglish | 1985-05-30 | 1991-02-21 |     1991 | Community Shield |
+----------------+------------+------------+----------+------------------+

In [ ]:
SELECT * FROM honours WHERE year_won BETWEEN "1977" AND "1990" order by year_won desc;

In [ ]:
SELECT id, name, year_won 
FROM lfc_managers, honours WHERE year_won BETWEEN "1977" AND "1990"
AND lfc_managers.id=honours.manager_id
ORDER BY year_won DESC;